<div class="tesat" style="margin-top:50px;">
    <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" [(ngModel)]="new_first_name" placeholder="Enter First Name">

    </div>
    <div class="form-group">
        <label for="firstname">Middle Name</label>
        <input type="text" class="form-control" [(ngModel)]="new_middle_name"   placeholder="Enter Last Name"> 
    </div>
    <div class="form-group">
        <label for="firstname">Last Name</label>
        <input type="text" class="form-control" [(ngModel)]="new_last_name"   placeholder="Enter Last Name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" [(ngModel)]="new_email"  placeholder="Enter email">
    </div>
    
     
    <button  class="btn btn-primary" (click)="addList()">Add</button>
</div>